* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}
.wrapper {
    padding: 0px 10px;
    max-width: 1124px;
    margin: 0px auto;
}
.container {
    max-width: 962px;
    margin: 0px auto;
}
.header {
    height: 72px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header__row {
    display: flex;
    align-items: center;
    height: 72px;
    justify-content: space-between;
}

.header__logo {
    flex-basis: 33.333%;
}
.header__img {
    width: 120px;
    height: 12px;
}
.header__row2 {
    display: flex;
}

.header__sign {
    padding: 16px 16px 16px 0px;
}

.header__sign button {
    width: 78px;
    height: 40px;
    background-color: #fff;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    transition: background-color 1s ease;
}
button:hover{
    background-color: rgba(151, 151, 151, 0.2);

}
.header__basket {
    width: 40px;
    height: 72px;
}
.header__basket img {
    padding: 25px 5px 25px 11px;
}
.center{
    max-width: 100%;
    background-image: url(/img/store1.png);
    background-repeat: no-repeat;
    height: 364px;
}
.center__1{
  
}
.center__1__foto{
   
}
.center__1__foto__img{
    width: 389px;
    height: 202px;
    margin: 80px 0px 80px 81px;
}
.nav{
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    
}
.nav__1{
    height: 80px;
}
.nav__list{
    display: flex;
    height: inherit;
}
.nav__list a{
    font-size: 16px;
    line-height: 18px;
    color: black;
    text-decoration: none;
}
.nav__list a:hover{
    font-size: 26px;
}
.nav__list li{
    margin: 32px 40px 32px 0px;
    list-style-type: none;
}
.menu__row{
    display: flex;
    flex-wrap: wrap;
}
.menu_header{
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);;
}
.menu__head{
    margin: 56px 0px 32px;
}
.menu{
    justify-content: space-between;
    flex: 1 1 40%;
    display: flex;
    border: 1px solid rgba(85, 84, 84, 0.1);
    margin-bottom: 50px;
    transition: background-color 1s ease;
    
}
.menu:hover{
    border: 1px solid rgba(85, 84, 84, 0.5);
}
.menu__2, .menu__4, .menu__6{
    margin-left: 16px;

}
.black{
    font-weight: bold;
}
.menu__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: background-color 1s ease;
    width: 100%;
}
.menu__text:hover{
    background-color: rgba(233, 233, 233, 0.4);
}
.menu__text p{
    font-size: 16px;
    line-height: 24px;
    margin: 16px;
}

h1{
    font-size: 22px;
    line-height: 34px;
}
.footer {
    background-color: #262626;
    max-width: ;
}
.footer__logo {
    height: 116px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.footer__logo__img {
    padding: 58px 0px;
}
.footer__content {
    max-width: 100%;
    height: 220px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.footer__content__row {
    display: flex;
}
.content2 {
    padding: 20px 0px;
    flex: 1 1 33.333%;
}
.sociale {
    padding: 33px 0px 0px 0px;
}
.footer__list li {
    list-style-type: none;
    padding: 11.5px 0px;
    color: #ffffff;
    font-size: 16px;
    line-height: 15px;
}
.footer__apple {
    height: 120px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.footer__apple__row {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.apple {
    padding: 0px 20px;
}
.google {
    padding: 0px 20px;
}
.footer__end {
    display: flex;
    justify-content: space-between;
}
.end {
    color: #ffffff;
    font-size: 11px;
    line-height: 13px;
    padding: 40px 0px;
}
.end__4 {
    padding: 0px 0px 0px 80px;
}
